* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #142198, #d4af37);
}

.login-box {
    width: 90%;
    max-width: 420px;
    background: white;
    padding: 35px 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.login-box h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.login-box p {
    color: #777;
    margin-bottom: 25px;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.login-box input:focus {
    border-color: #d4af37;
}

.login-box button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #111;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background: #d4af37;
    color: #111;
}

#message {
    margin-top: 15px;
    color: red;
}